body {
    background-color:rgb(42, 40, 40);
    color: white;
    
    
}

h1{
    font-weight: bold;
    text-align: center;
    font-size: 80px;
    
    
}
#lista {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    display: grid;
    grid-template-columns: 120px 120px 160px 100px 100px 100px;
   

  
}
.container{
    text-align: center;
    padding: 0;
    margin: 0;
 }
 
img {
    padding: 0;
    margin: 10px;
    text-align: left;
    width: 20%;
    max-width: 100px;
}
.tipusoslista {
    padding: 0;
    margin: 10px;
    text-align: left;
    list-style-image: url(nyil2.png);
    list-style-type: none;
    list-style-position: inside;
    
    
}

.bekezdes1{
    margin: 0;
    padding-left: 0;
    
    
}
#jobblista {
    text-align: left;
}




#bekezdes2{
    text-align: center;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 2px;
    border-color: red;
   padding: 0;
   
    
}

.masodikoldal {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: larger;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 450px 400px;
    
    
}
#folyamatabra {
    width: 80%;
    max-width: 550px;
    padding: 50px;
}

#rezs2_1{
    padding-top: 50px;
    padding-left: 0;
    text-align: left;
    
}

#cim2 {
    font-weight: bolder;
    text-align: left;
    font-size: xx-large;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: red;
    
    
}

.bekezdes3{
    float: right;
    margin: 0;
    padding-right: 3px;
    border-right-width: 2px;
    grid-template-columns:auto;
   
    
}


.tartalom {
   
    margin: 90px;
    display: grid;
    grid-template-columns: 350px 350px 350px ;
    grid-auto-rows: 640px 640px 640px;
    align-content: center;
    text-align: center;
   
}


@media only screen and (max-width:600px) {
    .tartalom{
        grid-template-columns: 1fr;
   
    }
    .masodikoldal  {
        grid-template-columns: 1fr;
    }
}
