body {
    background-color:rgb(37, 37, 37);
    color: white;
}

h1{
    text-align: center;
    font-size: xx-large;
    font-optical-sizing: 50px;
    
}
#lista {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    display: grid;
    grid-template-columns: 120px 120px 160px 100px 100px 100px;
   

  
}
.container{
   text-align: center;
   margin-right: 150px;
}

img {
    align-self: center;
    width: 20%;
    max-width: 100px;
}
.tipusoslista {
    text-align: justify;
    list-style-image: url(nyil2.png);
    list-style-type: none;
    list-style-position: inside;
    
    
}

.bekezdes1{
    margin: 0;
    padding-right: 3px;
    display: grid;
    grid-template-columns:auto;
    
}
h2 {
    margin-left: 15px;
}
#bekezdes2{
    border-right-style: solid;
    border-left-style: solid;
    border-width: 2px;
    border-color: red;
    
    margin: 5px;
    padding-right: 3px;
    grid-template-columns:auto;
    
}
.masodikoldal {
    background-color: black;
    color: white;
   
    
    
}
#bal {
    float: right;
}
.vege {
    clear: both;
}
.bekezdes3{
    margin: 0;
    padding-right: 3px;
    border-right-width: 2px;
    grid-template-columns:auto;
   
    
}
.tartalom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
@media only screen and (max-width:300px) {
    .tartalom{
        grid-template-columns:1fr;
   
    }
}
